docs/node_red.json
[{"id":"9977b8dd.a1f338","type":"tab","label":"Flow 1"},{"id":"1bcb4b1b.4044e5","type":"chatbot-facebook-node","z":"","botname":"GovHack","usernames":"","log":""},{"id":"d4998c31.10657","type":"chatbot-telegram-node","z":"","botname":"TesteBot","usernames":"","polling":"1000","log":""},{"id":"17d170de.9a032f","type":"twitter-credentials","z":"","screen_name":"@kivson"},{"id":"6bb9865c.08aad8","type":"debug","z":"9977b8dd.a1f338","name":"","active":true,"console":"true","complete":"payload","x":1139.5,"y":108,"wires":[]},{"id":"5f300ee0.87cbd","type":"watson-conversation-v1","z":"9977b8dd.a1f338","name":"","workspaceid":"f8729bc0-2ebd-43b7-802a-a535fff4b627","multiuser":true,"context":true,"x":567,"y":211,"wires":[["b4b0f279.479ea","ae3e6b4c.efce88","174c24bb.16651b","6bb9865c.08aad8","62beb7e1.9db1a8"]]},{"id":"4a0a4743.d62fe8","type":"http in","z":"9977b8dd.a1f338","name":"","url":"/testeconv","method":"get","swaggerDoc":"","x":150,"y":132,"wires":[["9237b2c9.bf55e"]]},{"id":"9237b2c9.bf55e","type":"template","z":"9977b8dd.a1f338","name":"Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.mensagem}}","x":317,"y":270,"wires":[["5f300ee0.87cbd"]]},{"id":"6600e47a.84078c","type":"http response","z":"9977b8dd.a1f338","name":"","x":1010,"y":509,"wires":[]},{"id":"5bfd36a6.7877d8","type":"http in","z":"9977b8dd.a1f338","name":"","url":"/webhook","method":"post","swaggerDoc":"","x":90,"y":540,"wires":[["47d396fb.b73258","c162cf53.e38ae"]]},{"id":"6b4be987.ade398","type":"http in","z":"9977b8dd.a1f338","name":"","url":"/webhook","method":"get","swaggerDoc":"","x":124,"y":652,"wires":[["cf954b82.180cb8"]]},{"id":"a2d27c32.7db27","type":"http response","z":"9977b8dd.a1f338","name":"","x":617,"y":672,"wires":[]},{"id":"c162cf53.e38ae","type":"debug","z":"9977b8dd.a1f338","name":"","active":true,"console":"false","complete":"false","x":393.5,"y":585,"wires":[]},{"id":"cf954b82.180cb8","type":"function","z":"9977b8dd.a1f338","name":"","func":"msg.payload = msg.payload[\"hub.challenge\"];\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":695,"wires":[["a2d27c32.7db27"]]},{"id":"47d396fb.b73258","type":"function","z":"9977b8dd.a1f338","name":"","func":"var entidade = msg.payload.entry[msg.payload.entry.length - 1];\n\nmsg.additional_context = {'id':entidade.messaging[entidade.messaging.length - 1].sender.id,\n                          'face_msg':msg.payload\n};\n\nmsg.payload = entidade.messaging[entidade.messaging.length - 1].message.text;\nmsg.user = entidade.messaging[entidade.messaging.length - 1].sender.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":457,"wires":[["5f300ee0.87cbd","74650212.aa547c"]]},{"id":"74650212.aa547c","type":"template","z":"9977b8dd.a1f338","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":729,"y":497,"wires":[["6600e47a.84078c"]]},{"id":"df4b1622.5060c8","type":"http request","z":"9977b8dd.a1f338","name":"","method":"POST","ret":"txt","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAaO8FCXCZCYBAPtVs0yo0M8PlQA5F7e6jKUOA8ceK7NrfZCtLw5B2oEcJZBDqCZBhmBM3TBHnZCx41fvF1lwkQZCTtMU4xvsIRwJ9bcuyn1wqY2Bh3oAAHroJ1WdcGzqX3mH81UOtsmVCZBCMnCmWo5IRhZCq8UzBn0ws3wQal1MAZDZD","tls":"","x":1285,"y":192,"wires":[[]]},{"id":"b4b0f279.479ea","type":"function","z":"9977b8dd.a1f338","name":"Envia texto direto","func":" msg.payload ={\n        \"recipient\":{\n            \"id\":msg.payload.context.id\n        }, \n        \"message\":{\n            \"text\":msg.payload.output.text[0]\n        }\n    }\n \n msg.headers = {'content-type':'application/json'};\n \n return msg;","outputs":1,"noerr":0,"x":965,"y":223,"wires":[["df4b1622.5060c8"]]},{"id":"ae3e6b4c.efce88","type":"cloudant out","z":"9977b8dd.a1f338","name":"","cloudant":"","database":"dados_dashboard","service":"Cloudant NoSQL DB-mi","payonly":true,"operation":"insert","x":929,"y":43,"wires":[]},{"id":"d55eb834.db0fb8","type":"http in","z":"9977b8dd.a1f338","name":"","url":"/givemeall","method":"get","swaggerDoc":"","x":180,"y":794,"wires":[["ae25b611.b8e408"]]},{"id":"bb8ff91d.9aa1b8","type":"http response","z":"9977b8dd.a1f338","name":"","x":803,"y":929,"wires":[]},{"id":"ae25b611.b8e408","type":"cloudant in","z":"9977b8dd.a1f338","name":"","cloudant":"","database":"dados_dashboard","service":"Cloudant NoSQL DB-mi","search":"_all_","design":"","index":"","x":385,"y":878,"wires":[["2d8b7516.b1f81a"]]},{"id":"174c24bb.16651b","type":"switch","z":"9977b8dd.a1f338","name":"","property":"payload.output.latitude","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","outputs":1,"x":744,"y":382,"wires":[["b400eba0.0797a8"]]},{"id":"1b6b939d.516ddc","type":"http request","z":"9977b8dd.a1f338","name":"","method":"POST","ret":"txt","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAaO8FCXCZCYBAPtVs0yo0M8PlQA5F7e6jKUOA8ceK7NrfZCtLw5B2oEcJZBDqCZBhmBM3TBHnZCx41fvF1lwkQZCTtMU4xvsIRwJ9bcuyn1wqY2Bh3oAAHroJ1WdcGzqX3mH81UOtsmVCZBCMnCmWo5IRhZCq8UzBn0ws3wQal1MAZDZD","tls":"","x":1210,"y":414,"wires":[[]]},{"id":"b400eba0.0797a8","type":"function","z":"9977b8dd.a1f338","name":"Processa MAPA","func":" var lat = msg.payload.output.latitude;\n var long = msg.payload.output.longitude;\n \n msg.payload ={\n        \"recipient\":{\n            \"id\":msg.payload.context.id\n        }, \n        \"message\":{\n            \"attachment\": {\n            \"type\": \"template\",\n            \"payload\": {\n                \"template_type\": \"generic\",\n                \"elements\": {\n                    \"element\": {\n                        \"title\": \"Mapa\",\n                        \"image_url\": \"https:\\/\\/maps.googleapis.com\\/maps\\/api\\/staticmap?size=764x400&center=\"+lat+\",\"+long+\"&zoom=25&markers=\"+lat+\",\"+long,\n                        \"item_url\": \"http:\\/\\/maps.apple.com\\/maps?q=\"+lat+\",\"+long+\"&z=16\"\n                    }\n                }\n            }\n        }\n        }\n    }\n \n msg.headers = {'content-type':'application/json'};\n \n return msg;","outputs":1,"noerr":0,"x":967,"y":408,"wires":[["1b6b939d.516ddc"]]},{"id":"2d8b7516.b1f81a","type":"function","z":"9977b8dd.a1f338","name":"","func":"msg.headers = {\"Access-Control-Allow-Origin\": \"*\"};\nreturn msg;","outputs":1,"noerr":0,"x":598,"y":963,"wires":[["bb8ff91d.9aa1b8"]]},{"id":"62beb7e1.9db1a8","type":"switch","z":"9977b8dd.a1f338","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"saudacao","vt":"str"}],"checkall":"true","outputs":1,"x":830,"y":297,"wires":[["c151bb3.3f4d048"]]},{"id":"c151bb3.3f4d048","type":"function","z":"9977b8dd.a1f338","name":"","func":" msg.payload ={\n        \"recipient\":{\n            \"id\":msg.payload.context.id\n        }, \n        \"message\":{\n            \"text\":\"teste\"\n        }\n    }\n \n msg.headers = {'content-type':'application/json'};\n \n return msg;","outputs":1,"noerr":0,"x":1021,"y":313,"wires":[[]]},{"id":"dde81654.7a1af8","type":"http request","z":"9977b8dd.a1f338","name":"","method":"GET","ret":"txt","url":"","x":748,"y":586,"wires":[[]]},{"id":"a09c81ed.6c78c","type":"join","z":"9977b8dd.a1f338","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":116,"y":357,"wires":[[]]}] 
